@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Color: #2cbfaa */

@page {
    size: 7in 9.25in;
    margin: 27mm 16mm 27mm 16mm;
}

* {
    font-family: "Roboto", sans-serif, Cambria;
    margin: 0;
    padding: 0;
    font-size: 12px;
    box-sizing: border-box;
}   

.main {
    display: flex;
    flex-flow: column nowrap;
    /* width: 100vh; */
    margin: 30px 0;
}

.main > * {
    width: auto;

}

.hero {
    flex: 0 0 100px;
    height: 100px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    margin: 20px 40px;
}

.hero-heading {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 800;
}

.hero-subtext {
    font-size: 20px;
    font-weight: 600;
    color: #ababab;
    letter-spacing: 1px;
}

.contacts {
    background: #f1f1f1;
    min-height: auto;
    display: flex;
    flex: 1 0 50px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 10px 20px;  
    width: 100%;    
}

.contact {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    align-items: center;
}


a, a:visited {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-flow: row nowrap;  
    gap: 5px;
    align-items: center;
}

.contact-icon {
    max-height: fit-content;
    align-self:  center;
    display: flex;
    align-items: center;
}

.icon {
    fill: #2cbfaa;
}

.contact-item {
    min-width: fit-content;
}

.content {
    height:fit-content;
    width: auto;
    flex: 1 1 100px;
    display:flex;
    flex-wrap: nowrap;
    align-items:stretch;
    margin: 20px 10px;
    gap: 20px;
    justify-content: space-between;
}

.col1, .col2 {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    max-width: fit-content;
}

.col1 {
    flex: 1 1 (70%-20px);
}

.col2 {
    flex: 1 0 auto;
    width: 30%;
    justify-content: flex-start;
    display: flex;
}

.col2 > * {
    flex: 1 1 100px;
    padding-bottom: 20px;
}

.education, .work-exp {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.heading {
    font-size: 20px;
    font-weight: 600;
    color: #2cbfaa;
    margin: 5px 0;
    width: max-content;
    letter-spacing: 1px;
}

.title {
    font-size: 18px;
    font-weight: 500;
}

.subtext {
    font-size: 17px;
    font-weight: 300;
}

.details {
    display: flex;
    justify-content: space-between;
    color: #9c9c9c;
}

.des-heading {
    font-size: 13px;
    font-weight: 500;
}

ul {
    list-style-type: "-" ;
    /* list-style-position: inside; */
    padding-left: 5px;
}

li {
    padding-left: 1em;
    color: #2cbfaa;
}
span {
    color: black;
}


.skills {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.skill-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 10px
}

.skill {
    min-width: fit-content;
    flex: 0 0 auto;
    padding: 4px 8px;
    border-radius: 5px;
    background-color: #2cbfaa;
    color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;

}

.proj {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.heading1 {
    font-size: 18px;
    font-weight: 400;
}

.date1 {
    color: #9c9c9c;
    font-size: 13px;
}

.lang-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.language {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subtextcolor {
    font-style: italic;
    color: #2cbfaa;
}

.interests {
    display: flex;
    flex-direction: column;
}

.interest-container {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.interest {
    border: 1px solid #9c9c9c;
    padding: 4px 8px;
    width: fit-content;
    border-radius: 5px;
}